@import "tailwindcss";
@plugin "flyonui";
@plugin "@iconify/tailwind4";

@font-face {
    font-family: SF;
    src: url("../assets/fonts/SuperFrosting-R9z4o.ttf");
}

@font-face {
    font-family: poppins;
    src: url("../assets/fonts/Poppins-Medium.ttf");
}

@theme {
    --font-SF: SF, "sans-serif";
    --font-poppins: "poppins", poppins;
}